[submodule "ambint-computer-vision"]
	path = computer-vision
	url = git@github.com:DaniPalma2002/ambint-computer-vision.git
[submodule "smart-engagement-room"]
	path = smart-engagement-room-webapp
	url = git@github.com:rtoscanelli/smart-engagement-room.git
